#logo {
    width: 100px;
    height: auto;
}

#navbar {
    display: flex;
    padding: 16px 32px;
    background-color: #3f2305;
}

#navbar * {
    font-family: "DM Sans", sans-serif;
}

#navbar button {
    cursor: pointer;
}

#navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#navbar-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    height: 100%;
}

.navbar-btn {
    height: 100%;
    color: #ffffff;
    background-color: transparent;
}

#reserva-btn {
    padding: 0px 10px;
    height: 100%;
    background-color: #f2ead3;
    border-radius: 50px;
    font-weight: bold;
}

#reserva-btn:hover {
    background-color: #e0d4b3;
    /* cor ao passar o mouse */
}

@media (max-width: 768px) {
    #navbar {
        position: relative;
    }

    .navbar-btn,
    #reserva-btn {
        display: none;
    }
}